<%= form_for(@heya) do |f| %>
  <% if @heya.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heya.errors.count, "error") %> prohibited this heya from being saved:</h2>

      <ul>
      <% @heya.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ondo %><br>
    <%= f.number_field :ondo %>
  </div>
  <div class="field">
    <%= f.label :shitudo %><br>
    <%= f.number_field :shitudo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
