<h1>Listing heyas</h1>

<table>
  <thead>
    <tr>
      <th>Ondo</th>
      <th>Shitudo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heyas.each do |heya| %>
      <tr>
        <td><%= heya.ondo %></td>
        <td><%= heya.shitudo %></td>
        <td><%= link_to 'Show', heya %></td>
        <td><%= link_to 'Edit', edit_heya_path(heya) %></td>
        <td><%= link_to 'Destroy', heya, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heya', new_heya_path %>
