<p id="notice"><%= notice %></p>

<p>
  <strong>Ondo:</strong>
  <%= @heya.ondo %>
</p>

<p>
  <strong>Shitudo:</strong>
  <%= @heya.shitudo %>
</p>

<%= link_to 'Edit', edit_heya_path(@heya) %> |
<%= link_to 'Back', heyas_path %>
